.markdown-body {
  max-width: 40rem;
  margin: auto;
}

.tags {
  padding-left: 0 !important;
}

.tags li {
  display: inline-block;
  margin: 0.5rem;
}

.tags a {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  color: black;
  background: #eee;
  text-decoration: none;
}

.tags a:hover {
  background: #ddd;
  text-decoration: none;
}

.tags a:active {
  background: #ccc;
}
