form > div {
  display: flex;
  align-items: center;
}

button {
  margin-left: 0.25rem;
  display: inline-flex;
  align-items: center;
  height: 2rem;
  box-sizing: border-box;
}

button svg {
  height: 1rem;
  margin-left: 0.25rem;
}

input {
  width: 20rem;
  box-sizing: border-box;
  height: 2rem;
}

li span {
  font-size: 85%;
  color: #888;
}
