.toast {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.toast li[hidden] {
  margin-top: -2.5rem;
  display: block;
  opacity: 0;
  z-index: -1;
}

.toast li {
  margin-top: 0.5rem;
  min-width: 15rem;
  list-style-type: none;
  background: hsla(217, 91%, 65%, 1);
  border: solid 1px hsl(217, 72%, 50%);
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0px 1px 8px hsla(0, 0%, 0%, 0.25);
  position: relative;
  opacity: 1;
  transition: opacity 300ms ease-in-out, margin-top 300ms ease-in-out;
}

.toast button {
  all: unset;
  position: absolute;
  top: 0.33rem;
  right: 0.25rem;
  display: none;
}

html.js .toast button {
  display: inline-block;
}

.close {
  height: 1.25rem;
  width: 1.25rem;
  padding: 0.25rem;
  display: block;
}

.close:active {
  transform: translate(1px, 1px);
}
