:focus:not(:focus-visible) {
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

header {
  background: #f0f0f0;
  color: #333;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 85%;
  margin-bottom: 2rem;
}

.markdown-body {
  max-width: 40rem;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  color: #888;
}

nav svg {
  height: 1rem;
  color: #aaa;
}
